#britain {
  padding: 100px 0;

  h1 {
    font-size: 40px;
    color: black;
  }

  .select {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 40px 0 50px -40px;
    select {
      outline: none;
      border: none;
      background: #fdfdfd;
      text-align: center;
      font-size: 17px;

      option {
        border: none;
        outline: none;
        padding: 20px 300px;
      }
    }

    &--options {
      margin: 0 0 0 55px;
    }
  }
  .country {
    &__cards{
      &--card {
        width: 1180px;
        height: 196px;
        background: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 30px 0;
        -webkit-box-shadow: -3px 6px 42px -3px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: -3px 6px 42px -3px rgba(34, 60, 80, 0.2);
        box-shadow: -3px 6px 42px -3px rgba(34, 60, 80, 0.2);

        img {
          width: 231px;
          height: 161px;
          border-radius: 10px;
          margin-left: -50px;
        }

        &__one1 {
          margin-left: -70px;

          h4 {
            color: #B5B5B5;
            font-size: 20px;
          }

          h3 {
            padding: 10px 0;
            color: #1AA2EE;
            font-size: 28px;
          }
        }

        &__one2 {
          //margin-left: 139px;
          &--icon{
            display: flex;
            align-items: center;
            color: #9D72D6;
          }
          h4 {
            color: #B5B5B5;
            font-size: 20px;
          }

          h3 {
            padding: 10px 0;
            color: #000000;
            font-size: 20px;
          }
        }

        &__one3 {
          //margin-left: 200px;

          h4 {
            color: #B5B5B5;
            font-size: 20px;
          }

          h3 {
            padding: 10px 0;
            color: #000000;
            font-size: 20px;
          }
        }
      }
    }
  }
}


@media (max-width: 1024px) {
  #country .country__cards {
    width: 942px;
  }
  #country .country__cards--ones__one3 {
    margin-left: 94px;
  }
  #britain .country__cards--card {
    width: 919px;
  }
  #britain .country__cards--card img {
    width: 226px;
    margin-left: -39px;
  }
}

@media (max-width: 992px) {
  #britain h1 {
    margin-left: -50px;
}
#britain .select {
  margin: 20px 0 30px -86px;
}
#britain .country__cards--card {
    width: 850px;
    margin: 30px -47px
}
#britain .country__cards--card img {
  width: 222px;
  margin-left: -27px;
}
}

@media (max-width: 768px) {
    #britain h1 {
      margin-left: -14px;
}
#britain .select {
  margin: 20px 0 30px -53px;
}
#britain .country__cards--card {
  width: 693px;
  margin: 30px -9px;
  height: 173px;
}
  #britain .country__cards--card img {
    width: 185px;
    height: 138px;
    margin-left: -7px;
}
#britain .country__cards--card__one1 h3 {
  padding: 10px 0;
  color: #1AA2EE;
  font-size: 20px;
}
#britain .country__cards--card__one1 {
  margin-left: 0px;
}
}

@media (max-width: 550px) {
  #britain .select {
    margin: 20px 0 30px -43px;
    flex-wrap: wrap;
}
#britain .select select {
  margin: 0 0 20px 0;
}
#britain h1 {
  margin-left: -2px;
}
#britain .country__cards--card {
  width: 278px;
  margin: 26px 110px;
  height: 377px;
  flex-direction: column;
}
#britain .country__cards--card__one1 h3 {
    padding: 0px 0px;
    color: #1AA2EE;
    font-size: 20px;
    margin-left: -79px;
}
#britain .country__cards--card__one1 h4 {
  margin-left: -77px;
}
#britain .country__cards--card__one2 h3 {
  padding: 0px 0;
  margin-left: -91px;
}
#britain .country__cards--card__one2 h4 {
  margin-left: -93px;
}
#britain .country__cards--card__one3 h4 {
  margin-left: -88px;
}
#britain .country__cards--card__one3 h3 {
  padding: 0px 0;
  margin-left: -84px;
}
}

@media (max-width: 450px) {
  #britain .country__cards--card {
    margin: 26px 62px;
  }
}

@media (max-width: 400px) {
  #britain h1 {
    margin-left: 34px;
}
#britain .select {
  margin: 20px 0 30px 44px;
}
#britain .country__cards--card {
  margin: 26px 38px;
}
#britain .country__cards--card img {
  width: 274px;
  margin-left: -2px;
}
}
@media (max-width: 320px) {
  #britain h1 {
    margin-left: 16px;
}
#britain .select {
  margin: 20px 0 30px 13px;
}
#britain .country__cards--card {
  margin: 26px 0px;
}
}
