#about{
  padding: 10% 0;
  .about{
    display: flex;
    align-items: start;
    justify-content:space-between;
    &--imgEs{
      width: 493px;
      height: 490px;
      border: 4px solid rgba(33, 33, 33, 0.73);
     &__car{
      margin-top: -80px;
       padding: 0 35px;
       img{
         //padding: 20px 20px;
         width: 530px;
         height: 540px;
       }
       &--tool{
         span{
           color: #6483F6;
           font-feature-settings: 'clig' off, 'liga' off;
           font-family: Montserrat,sans-serif;
           font-size: 16px;
           font-style: normal;
           font-weight: 700;
           line-height: 32px;
           text-transform: uppercase;
         }
         h2{
           color: #333;
           font-feature-settings: 'clig' off, 'liga' off;
           font-family: Gilroy,sans-serif;
           font-size: 52px;
           font-style: normal;
           font-weight: 500;
           line-height: 64px;
         }
         h4{
           color: #333;
           font-family: Montserrat,sans-serif;
           font-size: 20px;
           font-style: normal;
           font-weight: 400;
           line-height: 32px;
           padding: 20px 0;
         }
         p{
           color: rgba(51, 51, 51, 0.50);
           font-family: Montserrat,sans-serif;
           font-size: 16px;
           font-style: normal;
           font-weight: 400;
           line-height: 32px;
         }
       }
     }
    }
  }
}